<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Demo</title>
</head>

<body>
    <ul>
        <li>
            <a href="/spotify-login">/spotify-login</a>
        </li>
        <li>
            <a href="/track">/track</a>
        </li>
        <li>
            <a href="/playlists">/playlists</a>
        </li>
        <li>
            <a href="/user">/user</a>
        </li>
    </ul>
</body>

</html>